***
# Working with Excel Spreadsheets from Python
***

### About this notebook: 
Notebook prepared by **Jesus Perez Colino** Version 0.1, First Released: 01/10/2014, Alpha.  

- This work is licensed under a [Creative Commons Attribution-ShareAlike 3.0 Unported License](http://creativecommons.org/licenses/by-sa/3.0/deed.en_US). This work is offered for free, with the hope that it will be useful.


- **Summary**: This notebook contains a brief introduction about how to work with **Excel Spreadsheets** from Python using **openpyxl** and **pandas**.


- **Python & packages versions** to reproduce the results of this notebook:

In [199]:
import IPython
import numpy as np
import pandas as pd
import openpyxl
import warnings
warnings.filterwarnings("ignore")
from sys import version 
print ' Least-Squares MC for American Options: Conditions for Replication '.center(85,"-")
print 'Python version:     ' + version 
print 'Numpy version:      ' + np.__version__
print 'Pandas version:     ' + pd.__version__
print 'Openpyxl version:   ' + openpyxl.__version__
print 'IPython version:    ' + IPython.__version__
print '-'*85

--------- Least-Squares MC for American Options: Conditions for Replication ---------
Python version:     2.7.10 |Anaconda 2.4.0 (x86_64)| (default, Oct 19 2015, 18:31:17)
[GCC 4.2.1 (Apple Inc. build 5577)]
Numpy version:      1.10.1
Pandas version:     0.17.0
Openpyxl version:   2.2.6
IPython version:    4.0.0
-------------------------------------------------------------------------------------

# Openpyxl

In [138]:
from openpyxl import Workbook
from openpyxl.compat import range
from openpyxl.cell import get_column_letter

### 1. Write a workbook

In [161]:
wb = Workbook()

In [162]:
ws1 = wb.active
ws1.title = 'range names'

In [163]:
for row in range(1,10):
    ws1.append(range(100))

In [164]:
ws2 = wb.create_sheet(title="Pi")
ws3 = wb.create_sheet(title="Data")

In [165]:
wb.get_sheet_names()

['range names', 'Pi', 'Data']

In [166]:
from math import pi
ws2['A1'] = pi

In [167]:
for row in range(1,20):
    for col in range(1,27):
        _ = ws3.cell(column=col, row=row, value="{0}".format(get_column_letter(col)) )

In [168]:
print ws1['A1'].value
print ws2['A1'].value
print ws3['A1'].value

0
3.14159265359
A

In [169]:
print ws2.cell(row = 1, column = 1)
print ws2.cell(row = 1, column = 1).value

<Cell Pi.A1>
3.14159265359

### 2. Save the workbook

In [170]:
wb.save(filename = 'my_book.xlsx')

### 3. Read the workbook

In [171]:
from openpyxl import load_workbook

In [172]:
wb_new = load_workbook(filename = 'my_book1.xlsx')
print(wb_new.get_sheet_names())

['range names', 'Pi', 'Data']

In [173]:
Pi = wb_new['Pi']
print Pi['A1'].value

3.14159265359

In [174]:
range_numbers = wb_new['range names']
cell_range = range_numbers['A1':'C4']
print cell_range

<generator object get_squared_range at 0x105cded20>

In [175]:
for row in cell_range:
    for cell in row:
        print cell,': ',(cell.value), ': ', (cell.number_format)

<Cell range names.A1> :  0 :  General
<Cell range names.B1> :  1 :  General
<Cell range names.C1> :  2 :  General
<Cell range names.A2> :  0 :  General
<Cell range names.B2> :  1 :  General
<Cell range names.C2> :  2 :  General
<Cell range names.A3> :  0 :  General
<Cell range names.B3> :  1 :  General
<Cell range names.C3> :  2 :  General
<Cell range names.A4> :  0 :  General
<Cell range names.B4> :  1 :  General
<Cell range names.C4> :  2 :  General

# Pandas and xlswriter

In [192]:
import pandas as pd
import numpy as np

In [200]:
df1 = pd.DataFrame(np.random.randn(10, 5),
                   columns=['a', 'b', 'c', 'd', 'e'])
df1

          a         b         c         d         e
0  0.440658  0.382333 -1.221716 -0.115529  0.919715
1  0.423453 -0.148458  1.526270 -0.126653  1.212850
2  0.873953  1.380482  0.992620  0.103763 -0.775660
3  1.704033  1.218312 -0.156292 -0.331982 -1.438742
4  1.002500 -0.504881  0.502553 -1.357074 -1.244172
5  1.014213 -0.637136  0.019642  0.956059  1.280212
6  0.135952  1.143647  1.109336 -0.972992  0.066483
7  0.188338 -1.207682  0.433817  1.321672  0.458912
8  0.219797  0.084692  1.214438 -0.432551  2.511804
9  2.859288  1.191991  1.975414  1.009345  1.422283

In [202]:
writer = pd.ExcelWriter('my_book2.xlsx', engine='xlsxwriter')
df1.to_excel(writer,'random numbers')
writer.save()

In [203]:
dfread = pd.read_excel('my_book2.xlsx')
dfread

          a         b         c         d         e
0  0.440658  0.382333 -1.221716 -0.115529  0.919715
1  0.423453 -0.148458  1.526270 -0.126653  1.212850
2  0.873953  1.380482  0.992620  0.103763 -0.775660
3  1.704033  1.218312 -0.156292 -0.331982 -1.438742
4  1.002500 -0.504881  0.502553 -1.357074 -1.244172
5  1.014213 -0.637136  0.019642  0.956059  1.280212
6  0.135952  1.143647  1.109336 -0.972992  0.066483
7  0.188338 -1.207682  0.433817  1.321672  0.458912
8  0.219797  0.084692  1.214438 -0.432551  2.511804
9  2.859288  1.191991  1.975414  1.009345  1.422283